<!-- Orrin Cruz - 300898431 -->
<!-- February 16, 2019-->

    <footer>
      <nav class="navbar fixed-bottom navbar-light bg-light">
          <p>COMP308     © Orrin Cruz - 2019</p>
        </nav>
  </footer>
    
    <!-- JavaScript -->
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="Scripts/app.js"></script>
    <script src="wowjs/dist/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>
    
  </body>
</html>