<!-- Orrin Cruz - 300898431 -->
<!-- February 16, 2019-->


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <!-- CSS section -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/Content/app.css" />
  </head>

  <body class="allpage">
    <header>
      <!-- Main Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #80002a;">
        <a class="navbar-brand" href="/">
          <img src="Assets/images/logo.PNG" class="logoimg">
          <%=title%></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <%if(title == "Home") { %>
            <li class="nav-item active"><% } else { %></li>
            <li class="nav-item">
              <% } %>
              <a class="nav-link" href="/">
                <i class="fa fa-2x fa-bed"></i> Home
                <span class="sr-only">(current)</span></a
              >
            </li>

            <%if(title == "About") { %>
            <li class="nav-item active"> <% } else { %></li>
            <li class="nav-item">
              <% } %>
              <a class="nav-link" href="/about"
                ><i class="fa fa-2x fa-address-book-o "></i> About</a
              >
            </li>

            <%if(title == "Projects") { %>
            <li class="nav-item active"><% } else { %></li>

            <li class="nav-item">
              <% } %>
              <a class="nav-link" href="/projects"
                ><i class="fa fa-2x fa-cubes"></i> Projects </a>
            </li>

            <%if(title == "Skills") { %>
            <li class="nav-item active"><% } else { %></li>

            <li class="nav-item">
              <% } %>
              <a class="nav-link" href="/skills"
                ><i class="fa fa-2x fa-database "></i> Skills</a
              >
            </li>

            <%if(title == "Contact") { %>
            <li class="nav-item active"><% } else { %></li>

            <li class="nav-item">
              <% } %>
              <a class="nav-link" href="/contact"
                ><i class="fa fa-2x fa-comments"></i> Contact</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>