<% include ../partials/header.ejs %>

<main class="container">
    <% if(messages.length > 0) { %>
    <div class="alert alert-danger">
        <%= messages %>
    </div>
    <% } %>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <h1>Please Register</h1>
            <form action="" method="POST">
                <fieldset class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" placeholder="Enter Username" class="form-control" 
                    id="username" required autofocus>
                </fieldset>
                <fieldset class="form-group">
                    <label for="displayName">Display Name</label>
                    <input type="text" placeholder="Enter Display Name" name="displayName" class="form-control" 
                    id="displayName" required>
                </fieldset>
                <fieldset class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" placeholder="Enter E-mail" class="form-control" 
                    id="email" required>
                </fieldset>
                <fieldset class="form-group">
                    <label for="password">Password</label>
                    <input type="password" placeholder="Enter Password" class="form-control" 
                    id="password" required>
                </fieldset>
                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Register">
                    <a href="/Login">
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                </fieldset>
            </form>
        </div>
    </div>
</main>

<% include ../partials/footer.ejs %>