<!-- Orrin Cruz - 300898431 -->
<!-- February 16, 2019-->

<main class="container">
  <!-- Main Content -->
  <div class="jumbotron">
    <h1 class="fontfam1">About Myself</h1>
    <hr class="my-4" />

    <div class="container">
      <div class="row">
          <div class ="col-md-3 col-sm-12 wow fadeIn" data-wow-duration="1s">
          <img src="Assets/images/orrin.PNG" class="logoimg4" />
        </div>
        <div class ="col-md-9 col-sm-12">
          <p>My name is Orrin Cruz and 
            I graduated from my program Software Engineering Technology at Centennial College. From those three years 
            I developed a multitude of skills that are suitable for a software developer. With my experience, 
            I can provide great support that will benefit your company through my technical and logical abilities. 
            I am a confident team player and I can adapt in any team environment with a positive attitude.
          </p>

          <p>During my academic experience, I was involved with a multitude of projects that are either done by myself or with my colleagues. 
           I occasionally take part in leadership in terms of group disccussion and decision making for various project ideas.
           Some examples of projects was being tasked to develop a website that displays my portfolio utilizing Node.js and Express.js.
           I was involved in development on a number of mobile applications through the Android platform which one of them 
           was made to assist employees on being connected with their workplaces and another one developed to be a food ordering system 
           catered to post-secondary students and school faculty members. 
          </p>
          <p>
          I hope your company will consider me as candidate for any of you positions. I am looking forward for an interview. Please click on the link below to look at my resume.
          </p>
          
        </div>
      </div>

<div class="container" style="margin-top: 60px;">
      <div class="row">
        <div class ="col-md-9 col-sm-6">
          <h3>My Academic Credientials</h3>
          <li style="margin-left: 80px;"><strong>Sir Wilfrid Laurier Collegiate Institute</strong> - High School Diploma</li>
          <li style="margin-left: 80px;"><strong>Centennial College</strong> - Advanced Diploma</li>
    
        </div>
        <div class ="col-md-3 col-sm-6">
        </div>
      </div>

<hr class="my-4" />
<div class="container"style="margin-top: 20px;">
      <div class="row">
        <div class ="col-sm wow fadeIn" data-wow-duration="1s">
          <a class="iconlink" href="Assets\OrrinCruz_Resume.pdf">
            <i class="fa fa-id-badge big-icon" aria-hidden="true"></i>
            <br>
           <p class="fontcolor">Personal Resume</p>
          </a>
        </div>
      </div>
    </div>

  </div>
</main>
