<!-- Orrin Cruz - 300898431 -->
<!-- February 16, 2019-->

<main class="container">
  <!-- Main Content -->
  <div class="jumbotron">
    <h1 class="display-4">About Myself</h1>
    <hr class="my-4" />

    <div class="container">
      <div class="row">
          <div class ="col-md-3 col-sm-12">
          <img src="Assets/images/orrin.PNG" class="logoimg4" />
        </div>
        <div class ="col-md-9 col-sm-12">
          <p>My name is Orrin Cuz and 
            I am a recent graduate from my program Software Engineering Technology from Centennial College and from those three years 
            I developed many skills that are suitable for a software developer. With my dedication, 
            I can provide great support that can benefit your company through my technical and logical abilities. 
            I am a confident team player and I can adapt in any team environment with a positive attitude.
          </p>

          <p>During my program, I was involved with projects that are either done by myself or with my colleagues. 
           I was tasked to develop a website that displays my portfolio utilizing Node.js and Express.js. With the group projects, 
           I was involved in the development of mobile application through the Android platform which assisted employees on being connected with their workplaces. 
          </p>
          <p>
          I hope your company will consider me as candidate for any of you positions. I am looking forward for an interview. Please click on the link below to look at my resume.
          </p>
          
        </div>
      </div>

<div class="container" style="margin-top: 60px;">
      <div class="row">
        <div class ="col-md-9 col-sm-6">
          <h3>My Academic Credientials</h3>
          <li style="margin-left: 80px;"><strong>Sir Wilfrid Laurier Collegiate Institute</strong> - High School Diploma</li>
          <li style="margin-left: 80px;"><strong>Centennial College</strong> - Advanced Diploma(Expected Graduation: April 2019)</li>
    
        </div>
        <div class ="col-md-3 col-sm-6">
        </div>
      </div>

<hr class="my-4" />
<div class="container"style="margin-top: 20px;">
      <div class="row">
        <div class ="col-md-9 col-sm-6">
          <a href = "Assets/Technical_Resume.pdf"> -----> Link to my Resume</a>
        </div>
        <div class ="col-md-3 col-sm-6">
        </div>
      </div>
    </div>

  </div>
</main>
