<!-- Orrin Cruz - 300898431 -->
<!-- February 16, 2019-->

<main class="container">
  <!-- Main Content -->
  <div class="jumbotron">
    <h1 class="display-4">About Myself</h1>
    <hr class="my-4" />

    <div class="container">
      <div class="row">
          <div class ="col-md-3 col-sm-6">
          <img src="Assets/images/orrin.PNG" class="logoimg4" />
        </div>
        <div class ="col-md-9 col-sm-6">
          <p>
            I attended Centennial College for three years to study Software
            Engineering Technology. The experience I gained from there lead to
            what I am today. I am a humble person, able to put in the work that
            is given to me. I work very well with peers by contributing in
            giving ideas or assisting them in various tasks in the field. I am
            very excited to be able to share my ideas and to work with more
            people so we can make a great contribution towards society.
          </p>
        </div>
      </div>

      <div class="container">
      <div class="row">
        <div class ="col-md-3 col-sm-6">
        </div>
        <div class ="col-md-9 col-sm-6">
          <a href = "Assets/Technical.pdf"> -----> Link to my Resume</a>
        </div>
      </div>
    </div>

  </div>
</main>
