<!-- Orrin Cruz - 300898431 -->
<!-- February 16, 2019-->

<main class="container">
  <!-- Main Content -->
  <div class="jumbotron">
    <h1 class="display-4">About Myself</h1>
    <hr class="my-4" />

    <div class="container">
      <div class="row">
          <div class ="col-md-3 col-sm-12">
          <img src="Assets/images/orrin.PNG" class="logoimg4" />
        </div>
        <div class ="col-md-9 col-sm-12">
          <p>
            It is due to my great interest that led me to apply as a Software Intern for Hatchways. 
            I am a recent graduate from my program Software Engineering Technology from Centennial College and from those three years 
            I developed many skills that are suitable for this job role. With my dedication, 
            I can provide great support that can benefit this company through my technical and logical abilities. 
            I am fully confident that I can work in a team environment with a positive attitude.
          </p>

          <p>During the time at my program, I was involved with projects that are either done by myself or with my colleagues. 
           I was tasked to develop a website that displays my portfolio utilizing Node.js and Express.js. With the group projects, 
           I was involved in the development of mobile application through the Android platform which assisted employees on being connected with their workplaces. 
          </p>
          <p>
          I hope your company will consider me as candidate for this position. I am looking forward for an interview.
          </p>
          
        </div>
      </div>

      <div class="container">
      <div class="row">
        <div class ="col-md-9 col-sm-6">
          <a href = "Assets/Technical_Resume.pdf"> -----> Link to my Resume</a>
        </div>
        <div class ="col-md-3 col-sm-6">
        </div>
      </div>
    </div>

  </div>
</main>
