<!-- Orrin Cruz - 300898431 -->
<!-- February 16, 2019-->


<main class="container">
      <!-- Main Content -->
      <div class="jumbotron">
        <h1 class="fontfam1">Contact Me</h1>

        <p class="lead">
        Send me a message. I would like to hear your thoughts about me.
        </p>

        <p>
        Personal Email: orr1n@hotmail.com
        </p>
        <a href="https://www.linkedin.com/in/orrin-cruz-a35323179/">
            Go to my linkedin ---->
        </a>
        
        
        <hr class="my-4" />
       
      </div>
</main>