<!-- Orrin Cruz - 300898431 -->
<!-- February 16, 2019-->

<main class="container">
  <!-- Main Content -->
  <div class="jumbotron">
    <h1 class="display-4">Welcome to my Portfolio</h1>

    <p class="lead">
      Hello my name is Orrin Cruz. I am an aspiring software developer hoping to
      make a difference for the society.
    </p>
    <hr class="my-4" />
    <p>
      Click here to learn more about myself!
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
    </p>
  </div>
</main>
