<!-- Orrin Cruz - 300898431 -->
<!-- February 16, 2019-->

<main class="container">
  <!-- Main Content -->
  <div class="jumbotron">
    <h1 class="fontfam1">Welcome to my Portfolio</h1>

    <p class="lead">
      Hello my name is Orrin Cruz. I am an aspiring software developer hoping to
      make a difference to society.
    </p>
    <p>
        Feel free to look into my portfolio!
      </p>
    <hr class="my-4" />
    

    <div class="container">
        <div class="row">
            <div class="col-sm wow bounceInLeft" data-wow-duration="2s">
                <a class="iconlink" href="/about">
                  <i class="fa fa-address-book-o big-icon"></i>
                </a>
              </div>
              <div class="col-sm wow fadeInDown" data-wow-duration="1s">
                <a class="iconlink" href="/projects">
                  <i class="fa fa-cubes big-icon"></i>
                </a>
              </div>
              <div class="col-sm wow bounceInRight" data-wow-duration="2s">
                <a class="iconlink" href="/experience">
                  <i class="fa fa-database big-icon" ></i>
                </a>
              </div>
      
        </div>
    </div>
    
  </div>
</main>
