<!-- Orrin Cruz - 300898431 -->
<!-- February 16, 2019-->

<main class="container">
      <!-- Main Content -->
      <div class="jumbotron">
        <h1 class="display-4">My Projects</h1>

        <p class="lead">
          Here are some projects I worked on
        </p>
        <hr class="my-4" />

        <div class="container">
        <div class="row">
          <div class="col-sm">
          <img src="Assets/images/meetup.PNG" class="logoimg3">
          <img src="Assets/images/meetupmap.PNG" class="logoimg3">
          </div>

          <div class="col-sm">
            <h3>Toronto Meet-up</h3>
            <p>Toronto Meet-up is an appilcation that assist users on finding popular locations that are around Toronto. 
              Our app displays location of the place and it gives the user an option to either get the address via SMS, 
              visit the website of it, or download an image of the location. This app utilizes the Android platform and the use of Google Maps.
            </p>
          </div>
        </div>
        <hr class="my-4" />

        <div class="container">
            <div class="row">
              <div class="col-sm">
              <img src="Assets/images/calcdef.JPG" class="logoimg3">
              <img src="Assets/images/calcquad.JPG" class="logoimg3">
              </div>
    
              <div class="col-sm">
                <h3>Default/Quadratic Calculator</h3>
                <p>This calculator application is developed using C# windows form. 
                  It gives the user an option to either use the default or quadratic calculator. </p>
              </div>
            </div>
        </div>
        <hr class="my-4" />

        <div class="container">
            <div class="row">
              <div class="col-sm">
              <img src="Assets/images/workerhub.PNG" class="logoimg3">
              <img src="Assets/images/workerhublogin.PNG" class="logoimg3">
              </div>
    
              <div class="col-sm">
                <h3>Employee Profile Application</h3>
                <p>This application was developed solely for employees and managers of any workplace. 
                  Its purpose was to keep employees intact with their company by managing their schedule, 
                  checking up on announcments about the workplace, and to stay connected with other employees. It was design through the Android platform,
                with the use of SQLite.</p>
              </div>
            </div>
        </div>
        <hr class="my-4" />
        
      </div>
</main>