<!-- Orrin Cruz - 300898431 -->
<!-- February 16, 2019-->

<main class="container">
      <!-- Main Content -->
      <div class="jumbotron">
        <h1 class="fontfam1">Projects and Academic Experience</h1>

        <p class="lead">
          Projects
        </p>
        <hr class="my-4" />
        <div class="container">
        <div class="row">
          <div class="col-sm wow fadeInLeft" data-wow-duration="2s">
          <img src="Assets/images/plug1.jpg" class="logoimg3">
          <img src="Assets/images/plug2.jpg" class="logoimg3">
          </div>

          <div class="col-sm">
            <h3>Energy Saving Manager</h3>
            <p>This phone application is made to track all devices that are plugged into the user's household. All devices tracked 
            can display the statistics containing the power, voltage, energy savings, and the total savings. 
            Devices can be set to be turned on, off, or standby, by either selecting those options, or setting a time for a device
            to be turned off. The application is made through Flutter and Dart with the use of Firebase for database usage.
            </p>
          </div>
        </div>


        <p class="lead">
          Academic Experience
        </p>
        <hr class="my-4" />

        <div class="container">
            <div class="row">
              <div class="col-sm wow fadeInLeft" data-wow-duration="2s">
              <img src="Assets/images/calcdef.JPG" class="logoimg3">
              <img src="Assets/images/calcquad.JPG" class="logoimg3">
              </div>
    
              <div class="col-sm">
                <h3>Default/Quadratic Calculator</h3>
                <p>This calculator application is developed using C# windows form. 
                  It gives the user an option to either use the default or quadratic calculator. </p>
              </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
              <div class="col-sm wow fadeInLeft" data-wow-duration="2s">
              <img src="Assets/images/workerhub.PNG" class="logoimg3">
              <img src="Assets/images/workerhublogin.PNG" class="logoimg3">
              </div>
    
              <div class="col-sm">
                <h3>Employee Profile Application</h3>
                <p>This application was developed solely for employees and managers of any workplace. 
                  Its purpose was to keep employees intact with their company by managing their schedule, 
                  checking up on announcments about the workplace, and to stay connected with other employees. It was design through the Android platform,
                utilizing Java Language, and SQLite for the database.</p>
              </div>
            </div>
        </div>

        <div class="container">
          <div class="row">
              <div class="col-sm wow fadeInLeft" data-wow-duration="2s">
                  <img src="Assets/images/muchieshome.png" class="logoimg5">
                  <img src="Assets/images/munchieslogin.png" class="logoimg5">
              </div>
    
              <div class="col-sm">
                <h3>Munchies Food Ordering Application</h3>
                <p>The application is developed to allow Centennial students and faculty members to order food from existing restaurants in the campus. 
                  Munchies is designed to reduce stress towards both restaurants and customers by lessening long lines, and instant pick-up. Customers have to login with and existing Centennial E-mail Account 
                  and are given the choices of food from restaurants available in their faculty.
                  Restaurants who are associated with the faculty have to use the application to accept the orders made from customers for it to be delivered. 
                  Also restaurants are able to customize their menu to suit their preferences. The applcation was developed through the Android platform utilizing the Java language, and the usage of Firebase
                  to handle the database and user authentication.
                </p>
              </div>

          </div>
        </div>
        <hr class="my-4" />

        

      </div>
</main>