<!-- Orrin Cruz - 300898431 -->
<!-- February 16, 2019-->


<main class="container">
  <!-- Main Content -->
  <div class="jumbotron">
    <h1 class="fontfam1">My Experience</h1>

    <hr class="my-4" />
    <p>
      Skills that I am utilized with...

    </p>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <img src="Assets/images/programming.png" class="logoimg2">
        </div>
        
        <div class="col align-self-center">
         Programming (C#, Java Programming, TypeScript)
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-sm">
            <img src="Assets/images/database.jpg" class="logoimg2">
          </div>
          
          <div class="col align-self-center">
            Databases (SQL, Pl/SQL, Firebase)
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <img src="Assets/images/webdev.jpg" class="logoimg2">
          </div>
          
          <div class="col align-self-center">
            Web Development (JavaScript, Bootstrap, ASP.NET, Node.js, Express.js)
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <img src="Assets/images/mobile.png" class="logoimg2">
          </div>
          
          <div class="col align-self-center">
            Mobile Application (Android)
          </div>
        </div>
      </div>


  </div>
</main>
